*.[oa]
*.*
#*.sln
#*.vcxproj
.vs
!Task33_35/DLLExample/Dll1/x64/Debug/Dll1.dll
!Task33_35/DLLExample/Dll2/x64/Debug/Dll2.dll
!Task33_35/DLLExample/Dll3/*.sln
!Task33_35/DLLExample/Dll3/*.vcxproj
!Task33_35/DLLExample/Dll3/*.vcxproj.filters
!Task33_35/DLLExample/Dll3/*.vcxproj.user
!Task33_35/DLLExample/Dll1/*.sln
!Task33_35/DLLExample/Dll1/*.vcxproj
!Task33_35/DLLExample/Dll1/*.vcxproj.filters
!Task33_35/DLLExample/Dll1/*.vcxproj.user
!Task33_35/DLLExample/Dll2/*.sln
!Task33_35/DLLExample/Dll2/*.vcxproj
!Task33_35/DLLExample/Dll2/*.vcxproj.filters
!Task33_35/DLLExample/Dll2/*.vcxproj.user
Debug
build
!*.c
!*.h
!*.cpp
!*.hpp
!*.png
!*.json
!*.gitignore
!*.txt
!*.md
!*.cmake
!*.exclude
f