!Task33_35/DynamicLibrariesExample/Dll1/x64/Debug/Dll1.dll
!Task33_35/DynamicLibrariesExample/Dll2/x64/Debug/Dll2.dll
*.[oa]
*.*
*.sln
*.vcxproj
.vs
Debug
build
!*.c
!*.h
!*.cpp
!*.hpp
!*.png
!*.json
!*.gitignore
!*.txt
!*.md
!*.cmake
!*.exclude
f